<extend name="../Application/Admin/View/base.html" />

    <block name="title"><title>Zshop商城 优惠券管理-添加优惠券</title></block>
    <block name="style">
    <link href="/Admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/Admin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/Admin/css/owl.carousel.css" type="text/css">
    <script type="text/javascript" charset="utf-8" src="/Admin/js/jquery.js"> </script>
    </block>
    <block name="content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <!--breadcrumbs start -->
                    <ul class="breadcrumb">
                        <li><a href="/Admin/Index"><i class="icon-home"></i> 主面板</a></li>
                        <li><a href="/Admin/Coupon/index">广告管理</a></li>
                        <li class="active">添加优惠券</li>
                    </ul>
                    <!--breadcrumbs end -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            添加优惠券<a href="/Admin/Coupon/index" class="btn btn-success pull-right btn-sm">返回列表</a>
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal" role="form" method="post" action="/Admin/Coupon/doAdd" id="addForm">
                                <div class="form-group">
                                    <label for="parent_name" class="col-lg-2 col-sm-2 control-label text-center">活动名称</label>
                                    <div class="col-lg-6">
                                        <select class="form-control" name="activity_id" id="activity_id">
                                            <option value="0">请选择...</option>
                                            <volist name="activityInfo" id="vo">
                                            <option value="<{$vo.id}>"><{$vo.name}></option>
                                          </volist>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title" class="col-lg-2 col-sm-2 control-label text-center">优惠券名称</label>
                                    <div class="col-lg-6">
                                        <input type="text" name="name" class="form-control" id="name" value="" placeholder="优惠券名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title" class="col-lg-2 col-sm-2 control-label text-center">优惠券面值</label>
                                    <div class="col-lg-6">
                                        <input type="text" name="amount" class="form-control" id="amount" value="" placeholder="优惠券面值">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title" class="col-lg-2 col-sm-2 control-label text-center">开始时间</label>
                                    <div class="col-lg-6">
                                        <input type="text" name="use_from_time" class="form-control dpd1" id="use_from_time" value="" placeholder="开始时间">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title" class="col-lg-2 col-sm-2 control-label text-center">结束时间</label>
                                    <div class="col-lg-6">
                                        <input type="text" name="use_end_time" class="form-control dpd2" id="use_end_time" value="" placeholder="结束时间">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title" class="col-lg-2 col-sm-2 control-label text-center">使用限制数量</label>
                                    <div class="col-lg-6">
                                        <input type="text" name="limit_num" class="form-control" id="limit_num" value="" placeholder="使用限制数量">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title" class="col-lg-2 col-sm-2 control-label text-center">产品使用</label>
                                    <!-- <div class="col-lg-6">
                                        <input type="checkbox" name="rangeInfo[]" id="rangeInfo" value="1" checked >模块使用  
                                        <input type="text" name="moduleValue" id="moduleValue" value="">
                                        <select> 
                                            <option>请选择...</option>>
                                        </select>
                                    </div> -->
                                    <div class="col-lg-6">
                                        <input type="text" name="moduleValue" id="moduleValue" value="">
                                        <select multiple="multiple" id="productID" > 
                                            <option>请选择...</option>
                                            <volist name="productInfo" id="vo">
                                                <option value="<{$vo.pro_id}>" class="bb"><{$vo.name}></option>
                                            </volist>
                                        </select>
                                        <input type="button" name="" onclick="getvalue()" value="确定">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title" class="col-lg-2 col-sm-2 control-label text-center">状态</label>
                                    <div class="col-lg-6">
                                        <input type="radio" name="status" id="status" value="1" checked >正常
                                        <input type="radio" name="status" id="status" value="2" >下架
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-6">
                                        <button type="submit" name="submit" id="Submit" class="btn btn-danger">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </section>
         <script type="text/javascript">
            function getvalue(){
                var str = new Array();
                $("#productID option:selected").each(function () {
                    str.push($(this).val());
                })
               
               $('#moduleValue').val(str)
            }

        // $('.productID').bind('change',function(){
        //     alert(111)
        // })
        // $('.productID').onchange = function(){
        //     alert(111)
        //     alert($(this).val())
        // }
        // $('#getvalue').onclick = function(){
        //     alert(111)
        //     var str = '';
        //         $("#productID option:selected").each(function () {
        //             alert($(this).val())
        //             str += $(this).val() + ',';
        //         })
                
        //        str = str.substring(0,str.Length-1);
        //        $('#moduleValue').val(str)
        //    }
        $("#addForm").submit(function() { 
            if($('select[name=activity_id]').val() == 0){
                layer.alert('请选择活动', {
                    title: '错误信息',
                    icon: 2
                });
                return false;

            }   
            var name = $("#name").val(); 
            if (name != "") {
                return true;
            } else {
                layer.alert("请填写优惠券名称");
                return false;
            }

            var amount = $("#amount").val(); 
            if (amount != "") {
                return true;
            } else {
                layer.alert("请填写金额");
                return false;
            }

            var starttime = $("#use_from_time").val(); 
            if (starttime != "") {
                return true;
            } else {
                layer.alert("请填写开始时间");
                return false;
            }


            var endtime = $("#use_end_time").val(); 
            if (endtime != "") {
                return true;
            } else {
                layer.alert("请填写结束时间");
                return false;
            }

            var limit_num = $("#limit_num").val(); 
            if (limit_num != "") {
                return true;
            } else {
                layer.alert("请填写可用人数");
                return false;
            }

            // var group_img = $("#group_img").val(); 
            // if (group_img != "") {
            //     return true;
            // } else {
            //     layer.alert("请上传图片");
            //     return false;
            // }
        });
      
    </script>
    </block>
   
    
