<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/Home/login/css/style.css">
    
  </head>
  <body>
    <div class="page-container">
      <h1>登录</h1>
      <form action="/Home/Login/doLogin" method="post" onsubmit="save_username();" id="myform" name="myform">
        <input type="text" name="username" class="username" placeholder="用户名">
        <input type="password" name="password" class="password" placeholder="密码">
        <button type="submit" name="dosubmit" id="dosubmit">登 录</button>
        <div class="error"><span>+</span></div>
      </form>
      <div class="connect">
        <p>快捷登录</p>
        <p>
          <a class="sina" href=""></a>
          <a class="qq" href=""></a>
        </p>
      </div>
      <div class="p">
        <p><a href="/Home/Login/register" style="text-decoration:none;color:#fff;">马上注册</a></p>
      </div>
  </div>
  <!-- Javascript -->
  <script src="/Home/js/jquery-1.11.3.min.js"></script>
  <script src="/Home/js/bootstrap.min.js"></script>
  <script src="/Home/js/cookie.js"></script>
  <script src="/Home/login/js/supersized.3.2.7.min.js"></script>
  <script src="/Home/login/js/supersized-init.js"></script>
  <script src="/Home/login/js/scripts.js"></script>
  <script>
    

    function save_username() {
      if($('#cookietime').attr('checked')==true) {
        var username = $('#username').val();
        setcookie('username', username, 3);
      } else {
        delcookie('username');
      }
    }
    var username = getcookie('username');
    if(username != '' && username != null) {
      $('#username').val(username);
      $('#cookietime').attr('checked',true);
    }
  </script>
  </body>
</html>