<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册-tihold.com</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/Home/login/css/style.css">
    
  </head>
  <body>
    <div class="page-container">
      <h1>注册</h1>
      <form action="/Home/Login/doRegister" method="post" id="myform" name="myform">
        <label for="username">
          <input type="text" name="username" id="username" class="username" placeholder="用户名">
        </label>
        <label for="password">
          <input type="password" name="password" id="password" class="password" placeholder="密码">
        </label>
        <label for="pwdconfirm">
          <input type="password" name="pwdconfirm" id="pwdconfirm" class="pwdconfirm" placeholder="确认密码">
        </label>
        <label for="code">
          <div class="input-controle" style="height:69px;">
            <input type="text" id="code" name="code" size="4" class="input-text" placeholder="验证码" style="float:left;width:120px;">
            <div class="yzm"  style="float:left;width:120px;margin-top:26px;margin-left:15px;">
                <a href="javascript:void(0)" onclick="getVerify()"><img id="displayVerify" alt="点击更换" title="点击更换" src="/Home/images/defaultverify.png">
                </a></div>
          </div>
        </label>
        <label for="">
          <input name="modelid" type="hidden" value="10"/>
          <button type="submit" name="dosubmit" id="dosubmit">登 录</button>
        </label>
        <div class="error"><span>+</span></div>
      </form>
      <div class="connect">
        <p style="text-shadow:none">已有账号去<a href="/Home/Login/login" style="width:60px;">登录</a></p>
      </div>
  </div>
  <!-- Javascript -->
  <script src="/Home/js/jquery-1.11.3.min.js"></script>
  <script src="/Home/js/bootstrap.min.js"></script>
  <script src="/Home/login/js/supersized.3.2.7.min.js"></script>
  <script src="/Home/login/js/supersized-init.js"></script>
  <script src="/Home/login/js/scripts.js"></script>
  <script src="/layer/layer.js"></script>
  
  <script type="text/javascript" src="/Home/js/formvalidator.js" charset="UTF-8"></script>
  <script type="text/javascript" src="/Home/js/formvalidatorregex.js" charset="UTF-8"></script>
  <script>
    $(function(){
        
        $.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
        $("#username").formValidator({onshow:"请输入用户名",onfocus:"用户名至少为3位"})
                .inputValidator({min:3,max:20,onerror:"用户名至少为3位"})
                .regexValidator({regexp:"username",datatype:"enum",onerror:"用户名格式错误"})
                .ajaxValidator({
                    type : "post",
                    url : "/Home/Login/ajaxCheckUserName",
//                    data :{"username",username},
                    datatype : "html",
                    async:'false',
                    success : function(data){
                      if( data == "1" ) {
                        return true;
                      } else {
                        return false;
                      }
                    },
                    buttons: $("#dosubmit"),
                    onerror : "用户名已经存在",
                    onwait : "请稍候..."
        });
        $("#password").formValidator({onshow:"请输入密码",onfocus:"密码应该为6-20位之间"}).inputValidator({min:6,max:20,onerror:"密码应该为6-20位之间"}).regexValidator({regexp:"password",datatype:"enum",onerror:"密码只能是数字,字母 和 -_()等字符"});
        $("#pwdconfirm").formValidator({onshow:"请输入确认密码",onfocus:"两次密码不同。",oncorrect:"密码输入一致"}).compareValidator({desid:"password",operateor:"=",onerror:"两次密码不同。"});
        $("#code").formValidator({onshow:"请输入验证码",onfocus:"请输入验证码"}).inputValidator({min:4,max:4,onerror:"请输入正确的验证码"});
        $("#code").on("blur",function(){
            var code = $(this).val();
            $.ajax({
                url: '/Home/Login/checkVerify',
                type: 'post',
                data: {"code":code},
                dateType:"json",
                success:function(data){
                    if(data == false){
                        $(this).val('');
                        layer.msg('验证码错误');
                    }
                },
                error:function(){},
            });
        });
    
    });
    function getVerify(){
        var time = new Date().getTime();
        var verifyURL = "/Home/Login/buildVerify";
        $("#displayVerify").attr({
            "src" : verifyURL + "/" + time
        });
    }
  </script>
  </body>
</html>