<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>钛逅商城-列表页</title>
    <link rel="bookmark" href="img/favicon.ico" type="image/x-icon" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="/Home/css/bootstrap.css" rel="stylesheet">
    <link href="/Home/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Home/css/common.css" rel="stylesheet">
    <link href="/Home/css/goods.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <script src="/Home/js/jquery-1.11.3.min.js"></script>
    <script src="/Home/js/bootstrap.min.js"></script>
    <!-- <script src="js/bootstrap-collapse.js"></script> -->
  </head>
  <body class="htmlbody">
  	<block name="header"><include file="Common:header" /></block>
    <!-- main start -->
        
        <volist name="productList" id="vo">
        <!-- style_one start -->
        <if condition="$vo['template_style'] eq 1">
        <section class="container-fluid full-page">
            <div class="container style_one">
                <div class="one_top">
                    <h2 class="one_name text-center"> <{$vo.product_name}> </h2>
                    <h3 class="one_desc text-center">
                        <p><?php echo str_replace(",","<br/>",$vo['small_title']);?></p>
                    </h3>
                    <p class="one_gobuy">
                        <span class=""><a href="">进一步了解 &gt; </a></span>
                        <span class=""><a href="/Home/Goods/show/id/<{$vo.id}>">购买 &gt; </a></span>
                    </p>
                </div>
                <div class="one_img">
                    <img src="<{$vo.thumb}>" alt="" class="img-responsive center-block">
                </div>
            </div>
        </section>
        </if>
        <!-- style_one end -->
        
        <!-- style_two start -->
        <if condition="$vo['template_style'] eq 2">
        <section class="container middles-page">
            <div class="container style_two">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="two_top">
                        <h2 class="two_name text-center"> <{$vo.product_name}> </h2>
                        <h3 class="two_desc text-center">
                            <p><{$vo.small_title}></p>
                        </h3>
                        <p class="two_gobuy">
                            <span class=""><a href="">进一步了解 &gt; </a></span>
                            <span class=""><a href="/Home/Goods/show/id/<{$vo.id}>">购买 &gt; </a></span>
                        </p>
                    </div>
                    <div class="two_img">
                        <img src="<{$vo.thumb}>" alt="" class="img-responsive center-block">
                    </div>
                </div>
            </div>
        </section>
        </if>
        <!-- style_two end -->
        <!-- style_three start -->
        <if condition="$vo['template_style'] eq 3">
        <section class="container middles-page">
            <div class="container style_three">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="three_img">
                        <img src="<{$vo.thumb}>" alt="" class="img-responsive center-block">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="three_top">
                        <h2 class="three_name text-center"> <{$vo.product_name}> </h2>
                        <h3 class="three_desc text-center">
                            <p><{$vo.small_title}></p>
                        </h3>
                        <p class="three_gobuy">
                            <span class=""><a href="">进一步了解 &gt; </a></span>
                            <span class=""><a href="/Home/Goods/show/id/<{$vo.id}>">购买 &gt; </a></span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        </if>
        <!-- style_three end -->
        <!-- style_four start -->
        <if condition="$vo['template_style'] eq 4">
        <section class="container middles-page">
            <div class="container  style_four">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="four_top">
                        <h2 class="four_name text-center"> <{$vo.product_name}> </h2>
                        <h3 class="four_desc text-center">
                            <p><{$vo.small_title}></p>
                        </h3>
                        <p class="four_gobuy">
                            <span class=""><a href="">进一步了解 &gt; </a></span>
                            <span class=""><a href="/Home/Goods/show/id/<{$vo.id}>">购买 &gt; </a></span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="four_img">
                        <img src="<{$vo.thumb}>" alt="" class="img-responsive center-block">
                    </div>
                </div>
            </div>
        </section>
        </if>
        <!-- style_four end -->
        <!-- style_five start -->
        <if condition="$vo['template_style'] eq 5">
        <section class="container middles-page" style="background: url('<{$vo.thumb}>') no-repeat center top;">
            <div class="container style_five">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="five_top">
                        <h2 class="five_name text-center"> <{$vo.product_name}> </h2>
                        <h3 class="five_desc text-center">
                            <p><{$vo.small_title}></p>
                        </h3>
                        <p class="five_gobuy">
                            <span class=""><a href="">进一步了解 &gt; </a></span>
                            <span class=""><a href="/Home/Goods/show/id/<{$vo.id}>">购买 &gt; </a></span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
            </div>
        </section>
        </if>
        <!-- style_five end -->
        <!-- style_five start -->
        <if condition="$vo['template_style'] eq 6">
        <section class="container middles-page" style="background: url('<{$vo.thumb}>') no-repeat center top;">
            <div class="container style_six">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="six_top">
                        <h2 class="six_name text-center"> <{$vo.product_name}> </h2>
                        <h3 class="six_desc text-center">
                            <p><{$vo.small_title}></p>
                        </h3>
                        <p class="six_gobuy">
                            <span class=""><a href="">进一步了解 &gt; </a></span>
                            <span class=""><a href="/Home/Goods/show/id/<{$vo.id}>">购买 &gt; </a></span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        </if>
        <!-- style_five end -->
        </volist>
        
    
    
    <!-- main end -->
    <block name="footer"><include file="Common:footer" /></block>
</html>