/*
 * http://www.honey.com@member_center.css 
 * author:liuxuyang163@163.com;
 * time:2017-09-29 17:42:32;
*/
/*
* bootstrap 手机端优先 默认样式是手机端的
*/
    .member_center{
        min-height: 420px;
        padding:30px 0;
        background-color: #fff;
    }
    .m_left{
        padding:0 15px;
        
    }
    .avator {margin-bottom: 10px;}
    .avator img{
        width: 100px;
        height:100px;
        border-radius: 50px;
    }
    .left_menu{
        margin-top: 10px;
    }
    .left_menu p{
        height:35px;
        line-height: 35px;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }
    .left_menu p a.active{
        color:#f9690e;
    }
    .m_right{
        padding: 0 15px;
    }
    .tip_position{
        height:35px;
        line-height: 35px;
        padding: 0 15px;
        border-bottom: 2px solid #f9690e;
    }
    .tip_position i{color:#f9690e;}
    .myinfomation p{
        height: 35px;
        padding: 15px;
        line-height: 35px;
    }

    /* 发布信息 */
    .release_info{
        padding:15px;
        min-height: 100px;
    }
    .form_tips{

        height: 34px;
        line-height: 34px;
        text-align:  right;

    }
    /* 头像上传 */
    .avatar_form{
        padding:50px;
        min-height: 100px;
    }
    .avatat_img{
        position: relative;
        display: block;
        width: 100%;
        padding: 5px;
        height: 35px;
        line-height: 25px;
        text-decoration: none;
        color: #fff;
        border-radius: 5px;
        background-color: #d9534f;
        border-color: #d43f3a;
        text-align: center;
    }
    .avatat_img:hvoer{color: #fff !important;cursor: pointer; }
    #avatat_img:hvoer{color: #fff !important;cursor: pointer; }
    #avatat_img{
        position: absolute;
        overflow: hidden;
        right: 0;
        top: 0;
        opacity: 0;
        width: 83px;
        height:35px;
    } 
    /* 发过的信息 */
    .myreleased{
        
        margin-top: 15px;
    }
    .beefarmer{
        margin-bottom: 10px;
    }
/*
* iPad 样式 
*/
@media (min-width: 768px) {
    .member_center{
        min-height: 420px;
        padding:30px 0;
        background-color: #fff;
    }
    .m_left{
        padding:0 15px;
        
    }
    .avator {margin-bottom: 10px;}
    .avator img{
        width: 100px;
        height:100px;
        border-radius: 50px;
    }
    .left_menu{
        margin-top: 10px;
    }
    .left_menu p{
        height:35px;
        line-height: 35px;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }
    .left_menu p a.active{
        color:#f9690e;
    }
    .m_right{
        padding: 0 15px;
    }
    .tip_position{
        height:35px;
        line-height: 35px;
        padding: 0 15px;
        border-bottom: 2px solid #f9690e;
    }
    .tip_position i{color:#f9690e;}
    .myinfomation p{
        height: 35px;
        padding: 15px;
        line-height: 35px;
    }

    /* 发布信息 */
    .release_info{
        padding:50px;
        min-height: 100px;
    }
    .form_tips{

        height: 34px;
        line-height: 34px;
        text-align:  right;

    }
    /* 头像上传 */
    .avatar_form{
        padding:50px;
        min-height: 100px;
    }
    .avatat_img{
        position: relative;
        display: block;
        width: 100%;
        padding: 5px;
        height: 35px;
        line-height: 25px;
        text-decoration: none;
        color: #fff;
        border-radius: 5px;
        background-color: #d9534f;
        border-color: #d43f3a;
        text-align: center;
    }
    .avatat_img:hvoer{color: #fff !important;cursor: pointer; }
    #avatat_img:hvoer{color: #fff !important;cursor: pointer; }
    #avatat_img{
        position: absolute;
        overflow: hidden;
        right: 0;
        top: 0;
        opacity: 0;
        width: 83px;
        height:35px;
    } 

    /* 发过的信息 */
    .myreleased{
        padding: 15px;
    }
    .beefarmer{
        margin-bottom: 10px;
    }
}
/*
* iPad pro 样式 
*/
@media (min-width: 992px) {
    .member_center{
        min-height: 420px;
        padding:30px 0;
        background-color: #fff;
    }
    .m_left{
        padding:0 15px;
        
    }
    .avator {margin-bottom: 10px;}
    .avator img{
        width: 100px;
        height:100px;
        border-radius: 50px;
    }
    .left_menu{
        margin-top: 10px;
    }
    .left_menu p{
        height:35px;
        line-height: 35px;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }
    .left_menu p a.active{
        color:#f9690e;
    }
    .m_right{
        padding: 0 15px;
    }
    .tip_position{
        height:35px;
        line-height: 35px;
        padding: 0 15px;
        border-bottom: 2px solid #f9690e;
    }
    .tip_position i{color:#f9690e;}
    .myinfomation p{
        height: 35px;
        padding: 15px;
        line-height: 35px;
    }

    /* 发布信息 */
    .release_info{
        padding:50px;
        min-height: 100px;
    }
    .form_tips{

        height: 34px;
        line-height: 34px;
        text-align:  right;

    }
    /* 头像上传 */
    .avatar_form{
        padding:50px;
        min-height: 100px;
    }
    .avatat_img{
        position: relative;
        display: block;
        width: 100%;
        padding: 5px;
        height: 35px;
        line-height: 25px;
        text-decoration: none;
        color: #fff;
        border-radius: 5px;
        background-color: #d9534f;
        border-color: #d43f3a;
        text-align: center;
    }
    .avatat_img:hvoer{color: #fff !important;cursor: pointer; }
    #avatat_img:hvoer{color: #fff !important;cursor: pointer; }
    #avatat_img{
        position: absolute;
        overflow: hidden;
        right: 0;
        top: 0;
        opacity: 0;
        width: 83px;
        height:35px;
    }
    /* 发过的信息 */
    .myreleased{
        padding: 15px;
    }
    .beefarmer{
        margin-bottom: 10px;
    }
}
/*
*  电脑端 样式 
*/
@media (min-width: 1200px) {
    .member_center{
        min-height: 420px;
        padding:30px 0;
        background-color: #fff;
    }
    .m_left{
        padding:0 15px;
        
    }
    .avator {margin-bottom: 10px;}
    .avator img{
        width: 100px;
        height:100px;
        border-radius: 50px;
    }
    .left_menu{
        margin-top: 10px;
    }
    .left_menu p{
        height:35px;
        line-height: 35px;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }
    .left_menu p a.active{
        color:#f9690e;
    }
    .m_right{
        padding: 0 15px;
    }
    .tip_position{
        height:35px;
        line-height: 35px;
        padding: 0 15px;
        border-bottom: 2px solid #f9690e;
    }
    .tip_position i{color:#f9690e;}
    .myinfomation p{
        height: 35px;
        padding: 15px;
        line-height: 35px;
    }

    /* 发布信息 */
    .release_info{
        padding:50px;
        min-height: 100px;
    }
    .form_tips{

        height: 34px;
        line-height: 34px;
        text-align:  right;

    }
    /* 头像上传 */
    .avatar_form{
        padding:50px;
        min-height: 100px;
    }
    .avatat_img{
        position: relative;
        display: block;
        width: 100%;
        padding: 5px;
        height: 35px;
        line-height: 25px;
        text-decoration: none;
        color: #fff;
        border-radius: 5px;
        background-color: #d9534f;
        border-color: #d43f3a;
        text-align: center;
    }
    .avatat_img:hvoer{color: #fff !important;cursor: pointer; }
    #avatat_img:hvoer{color: #fff !important;cursor: pointer; }
    #avatat_img{
        position: absolute;
        overflow: hidden;
        right: 0;
        top: 0;
        opacity: 0;
        width: 83px;
        height:35px;
    }

}