<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><{$title}></title>
    <link rel="bookmark" href="img/favicon.ico" type="image/x-icon" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="/Home/css/bootstrap.css" rel="stylesheet">
    <link href="/Home/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Home/css/common.css" rel="stylesheet">
    <link href="/Home/css/index.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="/Home/js/html5shiv.min.js"></script>
      <script src="/Home/js/respond.min.js"></script>
    <![endif]-->
    <script src="/Home/js/jquery-1.11.3.min.js"></script>
    <script src="/Home/js/bootstrap.min.js"></script>
  </head>
  <body class="htmlbody">
  	<block name="header"><include file="Common:header" /></block>
  	
  	<div id="Carousel" data-ride="carousel" class="carousel slide carousel-fade">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <img src="/Home/img/Bananer1.jpg" alt="Bananer1">
		      <div class="carousel-caption">
		       
		      </div>
		    </div>
		    <div class="item">
		      <img src="/Home/img/Bananer2.jpg" alt="Bananer2">
		      <div class="carousel-caption">
		       
		      </div>
		    </div>
		    <div class="item">
		      <img src="/Home/img/Bananer3.jpg" alt="Bananer3">
		      <div class="carousel-caption">
		       
		      </div>
		    </div>
		    
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#Carousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#Carousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>

		<div class="jumbotron jumbotron_first" style="background-color: rgb(16,16,16);">
		  <img src="/Home/img/Bananer1.jpg" class="img-responsive center-block" alt="Bananer1">
		</div>

		<div class="jumbotron jumbotron_second" style="background-color: rgb(16,16,16);">
		  <img src="/Home/img/Bananer2.jpg" class="img-responsive center-block" alt="Bananer2">
		</div>
	
		<div class="jumbotron jumbotron_third" style="background-color: rgb(16,16,16);">
		  <img src="/Home/img/Bananer3.jpg" class="img-responsive center-block" alt="Bananer3">
		</div>

    <div class="container-fluid">
      	<div class="row">
	      	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 homepage-section-item position1">
	      		<a href="" class="unit-wrapper">
	      			<div class="unit-text-wrapper">
						<h4 class="unit-header text-center">
							坚固铆钉工艺，彰显风范
						</h4>
						<h5 class="unit-centerall text-center">
							方寸间的舒适，演绎优雅人生
							<br>
							每一处细节的严格，都只为优雅与精致
						</h5>
	      			</div>
	      			<div class="unit-img-wrapper1" id="position1-bg">
						<figure class="unit-image1"></figure>
	      			</div>
	      		</a>
	      	</div>
	      	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 homepage-section-item position2">
				<a href="" class="unit-wrapper">
	      			<div class="unit-text-wrapper">
						<h4 class="unit-header2 text-center">
							百式菜样 · 十八般烹饪法样样精通
						</h4>
						<h5 class="unit-centerall2 text-center">
							强抗重、抗压结合的铆钉工艺
							<br>
							让您在烹饪时期更安全
						</h5>
	      			</div>
	      			<div class="unit-img-wrapper" id="position1-bg">
						<figure class="unit-image2"></figure>
	      			</div>
	      		</a>
	      	</div>
	      	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 homepage-section-item position3">
				<a href="" class="unit-wrapper">
	      			<div class="unit-text-wrapper">
						<h4 class="unit-header3 text-center">
							百式菜样 · 十八般烹饪法样样精通
						</h4>
						<h5 class="unit-centerall3 text-center">
							强抗重、抗压结合的铆钉工艺
							<br>
							让您在烹饪时期更安全
						</h5>
	      			</div>
	      			<div class="unit-img-wrapper3" id="position1-bg">
						<figure class="unit-image3"></figure>
	      			</div>
	      		</a>
	      	</div>
	      	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 homepage-section-item position4">
				<div class="unit-text-wrapper">
					<h4 class="unit-header text-center">
						坚固铆钉工艺，彰显风范
					</h4>
					<h5 class="unit-centerall text-center">
						方寸间的舒适，演绎优雅人生
						<br>
						每一处细节的严格，都只为优雅与精致
					</h5>
	      		</div>
	  			<div class="unit-img-wrapper1" id="position1-bg">
					<figure class="unit-image1"></figure>
	  			</div>
	      	</div>
	    </div>
    </div>
   <block name="footer"><include file="Common:footer" /></block>
</html>