[2017-06-01]
/Application/Common/Conf/parseJobList.php.dict //解析职位相关参数
/Application/Common/Conf/config.php.dict // LOAD_EXT_CONFIG 参数里增加关联parseJobList配置项
/Application/Common/Conf/config.php.dict // JOB_INFO_API_ADDRESS  COMPANY_INFO_API_ADDRESS  添加获取 职位信息和公司信息的接口地址

[2017-06-03] 
/Application/Common/Conf/constant.php.dict // 关于邮件发送的相关配置添加
/Application/Common/Common/function.php // 关于邮件发送的 方法添加


[2017-06-07] 
/Application/Common/Conf/rediskey.php.dict  //  添加 首页banner缓存key  INDEX_BANNER_LIST
/Application/Common/Conf/rediskey.php.dict  //  添加 城市数据缓存key DICT_CITY_ALL_DATA

mkdir Public/Uplaod/index_banner        //上次图片路径新建文件夹
