<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>才秀秀</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- 百度站长验证代码-->
<meta name="baidu-site-verification" content="5Ybr8YFXyB" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
<meta content="telephone=no,email=no" name="format-detection" />
<meta name="full-screen" content="yes">
<meta name="x5-fullscreen" content="true"/>
<meta name="360-fullscreen" content="true"/>
<meta name="x5-page-mode" content="app"/>
<meta name="browsermode" content="application"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-mobile-web-app-title" content="kuaihuojian.com" />
<link href="favicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" href="css/lib/base.css?v={$version}" />
<link rel="stylesheet" href="css/404.css?v={$version}" />
</head>
<body>
<article>
  <header></header>
  <section class="time">
    <q class="blue ">很遗憾，您访问的页面挖不到了...</q>
    <div class="gray"><em id="timer" class="blue mr5">5</em>秒后跳转到上一页,如没有跳转,请<a id="goUrl" href="#" class="blue ml5" style="display:inline-block;">点击这里</a></div>
  </section>
  <footer></footer>
</article>
<script src="js/lib/zepto.js"></script>
<script src="js/404.js"></script>
</body>
</html>
