<extend name="../Application/Admin/View/base.html" />

    <block name="title"><title>Zshop商城-管理-添加权限组</title></block>
    <block name="style">
    <link href="/Admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/Admin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/Admin/css/owl.carousel.css" type="text/css">
    </block>
<block name="content">
      <section class="wrapper">
              <div class="row">
                  <div class="col-lg-12">
                      <!--breadcrumbs start -->
                      <ul class="breadcrumb">
                          <li><a href="/Admin/Index"><i class="icon-home"></i> 主面板</a></li>
                          <li><a href="/Admin/Auth">权限组管理</a></li>
                          <li class="active">添加权限组</li>
                      </ul>
                      <!--breadcrumbs end -->
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              添加权限组
                          </header>
                          <div class="panel-body">
                              <form class="form-horizontal" role="form" method="post" action="/Admin/Auth/doAdd" id="addForm">
                                  <div class="form-group">
                                      <label for="title" class="col-lg-2 col-sm-2 control-label">权限组名称</label>
                                      <div class="col-lg-6">
                                          <input type="text" name="title" class="form-control" id="title" placeholder="权限组名称">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-lg-offset-2 col-lg-6">
                                          <button type="submit" class="btn btn-danger">提交</button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </section>
                  </div>
              </div>
       </section>
</block>
    <block name="script">
    <!-- 表单验证 -->
    <script src="/Admin/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#addForm').bootstrapValidator({
                message: 'This value is not valid',  
                fields: {
                    title: {
                        validators: {
                            notEmpty: {message: '权限组名不能为空'},
                            stringLength: {min: 2,max: 30,message: '权限组名长度必须在2到30之间'},
                            remote: {//ajax验证。
                                url: '/Admin/Auth/ajaxCheckGroupTitle',
                                type: 'post',
                                data:{title:function() {
                                    return $('input[name="title"]').val() }
                                },
                                delay :  2000,
                                dataFilter:function(data,type){
                                    return data;
                                },
                                message: '权限组名称已存在',//提示消息
                            }
                        }
                    }
                }
            })
       });
    </script> 
    </block>
