<extend name="../Application/Admin/View/base.html" />

    <block name="title"><title>Zshop商城-管理-用户列表-第<{$currentPage}>页</title></block>
    <block name="style">
    <link href="/Admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/Admin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/Admin/css/owl.carousel.css" type="text/css">
    </block>
<block name="content">
      <section class="wrapper">
              <div class="row">
                  <div class="col-lg-12">
                      <!--breadcrumbs start -->
                      <ul class="breadcrumb">
                          <li><a href="/Admin/Index"><i class="icon-home"></i> 主面板</a></li>
                          <li><a href="/Admin/Users">用户管理</a></li>
                          <li class="active">用户列表</li>
                      </ul>
                      <!--breadcrumbs end -->
                  </div>
              </div>
              <!-- page start-->
              <div class="row">
                  <div class="col-lg-12">
                      <div class="col-sm-12" style="padding-left:0px;padding-right:0px;">
                      <section class="panel">
                          <header class="panel-heading">
                              用户列表
                              <if condition="$param[usertype] eq 2">
                              <a href="/Admin/Users/addUser/usertype/2"><button type="button" class="btn btn-success pull-right btn-sm">添加员工</button></a>  
                              </if>
                          </header>
                          <div class="panel-body">
                              <form class="form-horizontal" role="form" id="search" method="post" action="/Admin/Users/index/usertype/<{$Think.get.usertype}>" >
                              <div class="col-md-6 alltimesof">
                                  <button type="button" class='btn timesof <if condition="today eq $param['date']" >btn-primary</if>'>今天</button>
                                  <button type="button" class='btn timesof <if condition="yesterday eq $param['date']" >btn-primary</if>'>昨天</button>
                                  <button type="button" class='btn timesof <if condition="week eq $param['date']" >btn-primary</if>'>本周</button>
                                  <button type="button" class='btn timesof <if condition="month eq $param['date']" >btn-primary</if>'>本月</button>
                                  <button type="button" class='btn timesof <if condition="all eq $param['date']">btn-primary</if>'>全部</button>
                                  </div>
                                  <div class="col-md-6">
                                          <div class="input-group input-large" data-date="2016/07/28" data-date-format="yyyy/mm/dd">
                                         
                                            <input type="text" class="form-control dpd1" value="<{$param.srtime|date='m/d/Y',###}>" name="srtime">
                                            <span class="input-group-addon">To</span>
                                            <input type="text" class="form-control dpd2" value="<{$param.ertime|date='m/d/Y',###}>" name="ertime">
                                        </div>
                                          <span class="help-block">注册时间查询</span>
                                      </div>
                                      <div class="col-md-3">
                                      <div class="form-group">
                                          <input type="text" name="mobile" class="form-control" id="phone" value="<{$param.mobile}>" placeholder="输入手机号搜索">
                                      </div>
                                      </div>
                                      <div class="col-md-9">
                                        <input type="hidden" id="usertype" name="usertype" value="<{$Think.get.usertype}>">
                                        <button  id="btn_search" class="btn btn-info">搜索</button>
                                        <input type="hidden" id="search_type" name="search_type">
                                        <!-- <button  id="btn_search_share" class="btn btn-info">搜索推荐人</button> -->
                                      </div>
                              </form>
                          </div>
                                  
                      </section>

                    </div>


                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <table class="table table-striped table-advance table-hover">
                              <thead>
                              <tr>
                                  <th><i class="icon-user"></i><if condition="$param[usertype] eq '1'">用户ID<else/>工号</if></th>
                                  <th><i class="icon-user"></i>用户名</th>
                                  <th><i class="icon-user"></i>用户真实姓名</th>
                                  <th><i class="icon-phone"></i>手机号</th>
                                  <th><i class="icon-bullhorn"></i>用户余额</th>
                                  <th><i class="icon-time"></i>注册时间</th>
                                  <th>操作</th>
                              </tr>
                              </thead>
                              <tbody>
                              <if condition="!empty($userList) and is_array($userList)">
                              <volist name="userList" id="user">
                              <tr>
                                  <td><a href="#"><{$user.usernum}></a></td>
                                  <td class="hidden-phone"><{$user.username}></td>
                                  <td class="hidden-phone"><{$user.real_name}></td>
                                  <td class="hidden-phone"><{$user.mobile}></td>
                                  <td class="hidden-phone"></td>
                                  <td class="hidden-phone"><{$user.create_time|date='Y-m-d H:i',###}></td>
                                  <!-- <td>
                                  <a href="/Admin/Users/resetPwd/userId/<{$user.id}>" alt="重置密码" ><button class="btn btn-success btn-xs"><i class="icon-ok"></i></button></a>
                                  </td> -->
                                  <td>
                                 <!--    <a  class="btn btn-xs btn-warning myModal2" href="/Admin/UsersBalanceLog/balanceLog/user_id/<{$user.user_id}>">蛙币收支</a> -->
                                    <a class="btn btn-primary btn-xs" href="/Admin/Users/resetPwd/userId/<{$user.id}>">重置密码</a>
                                    <a class="btn btn-primary btn-xs" href="/Admin/Users/updateUser/userId/<{$user.id}>">修改信息</a>
                                    <a  class="btn btn-xs btn-warning myModal2" data-toggle="modal" href="#myModal2" value="<{$user.id}>">删除</a>
                                  <!--   <div class="btn-group">
                                      <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-xs btn-info" type="button">更多 <span class="caret"></span></button>
                                      <ul role="menu" class="dropdown-menu">
                                          <li><a href="#">短信发送日志</a></li>
                                          <li><a href="#">登陆日志</a></li>
                                          <li><a href="#">分享记录</a></li>
                                         <li class="divider"></li>
                                          <li><a href="#"></a></li>-->
 <!--                                      </ul>
                                    </div> -->
                                  </td>
                              </tr>
                              </volist>
                              <else />
                              
                              <tr><td colspan="5">没有数据</td></tr>
                              
                              </if>
                              </tbody>
                          </table>
                      </section>
                  </div>
                  <div class="col-lg-6"><div class="dataTables_info" id="editable-sample_info">共 <{$count}> 条记录，当前显示 第 <{$currentPage}> 页</div></div>
                  <div class="col-lg-6"><{$page}></div>
              </div>
              <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">对话框</h4>
                                    </div>
                                    <div class="modal-body">

                                        确定删除此记录

                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
                                        <button class="btn btn-warning" id="confirmvalue" value="" type="button"> 确认</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">提示消息</h4>
                                    </div>
                                    <div class="modal-body" id="reback_message">

                                    </div>
                                </div>
                            </div>
                        </div>
              <!-- page end-->
       </section>
</block>
    <block name="script">
      <script src="/Admin/js/advanced-form-components.js"></script>
      <script type="text/javascript" src="/Admin/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

          //confirm start
            $(".myModal2").click(function(){
                var uid = $(this).attr("value");
                $("#confirmvalue").attr("value",$(this).attr("value"));
            });
            $("#confirmvalue").click(function(){
              $("#myModal2").css('display','none'); 
              $("#myModal2").removeClass("in"); 
              $("body").removeClass("modal-open");
                var userId = $(this).attr("value");
                  $.post("/Admin/Users/doDelete",{userId:userId},function(data,textStatus, jqXHR){
                    if (data) {
                        $("#reback_message").text("删除成功");
                        $("body").removeClass("modal-open");
                        $("#myModal3").addClass("in"); 
                        $("#myModal3").css('display','block'); 
                    }else{
                        $("#reback_message").text("删除失败");
                        $("body").removeClass("modal-open");
                        $("#myModal3").addClass("in"); 
                        $("#myModal3").css('display','block'); 
                    }
                    setTimeout(function (){
                        $("#myModal3").removeClass("in"); 
                        $("#myModal3").css('display','none'); 
                        $("body").removeClass("modal-open");
                        $(".modal-backdrop").removeClass("in");
                     }, 2000);
                    window.location.reload();
                  });
            });
            //confirm end
            
            $(".timesof").click(function(){
              var dates = new Array();
              dates[0] = 'today';
              dates[1] = 'yesterday';
              dates[2] = 'week';
              dates[3] = 'month';
              dates[4] = 'all';
              var  values = $(this).index();
              date = dates[values];

              $("#value_timesof").val(values+1);
              $(".timesof").removeClass("btn-primary");
              $(this).addClass("btn-primary");
              window.location.href="/admin/Users/index/usertype/"+<{$Think.get.usertype}>+"/date/"+date;

            });
            $("#phone").change(function(){
              if (!$("#phone").val().match(/^(1(3[0-9]|4[57]|5[0-35-9]|7[01678]|8[0-9])+\d{8})$/)){
                $("#phone").val("");
              } 
            });
            $("#btn_search").click(function(){
              $("#search_type").val('');
              $("#search").submit();
            });
            $("#btn_search_share").click(function(){
              $("#search_type").val('shared');
              $("#search").submit();
            });
        });
      </script>
    </block>
