<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <!--<link rel="shortcut icon" href="img/favicon.png">-->

    <title>注册</title>

    <!-- Bootstrap core CSS -->
    <link href="/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Admin/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/Admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/Admin/css/style.css" rel="stylesheet">
    <link href="/Admin/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

  <body class="login-body">

    <div class="container">

      <form class="form-signin" action="/Home/Login/doRegister" method="POST" id="register">
        <h2 class="form-signin-heading">注册</h2>
        <div class="login-wrap">
            <input type="text" name="username" id="username" class="form-control" placeholder="账号" autofocus>
            <input type="password" name="password" class="form-control" placeholder="密码">
            <input type="password" name="confirmPassword" class="form-control" placeholder="确认密码">
            <button class="btn btn-lg btn-login btn-block" type="submit" name="submit">提交</button>
       </form>
        </div>

    </div>
    <script src="/Admin/js/jquery.js"></script>
    <script src="/Admin/js/bootstrap.min.js"></script>
    
  </body>
</html>

