 <footer class="footer">
    <div class="container">
      <div class="row footer-links accordion" id="accordion2">
        <div class="col-lg-2 col-md-2 accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            新手上路<i class="fa fa-angle-down pull-right hidden-lg hidden-md"></i>
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
            <div class="accordion-inner">
              <ul>
                <li><a href="">顾客必读</a></li>
                <li><a href="">会员等级折扣</a></li>
                <li><a href="">订单的几种状态</a></li>
                <li><a href="">积分奖励计划</a></li>
                <li><a href="">商品退货保障</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              购物指南<i class="fa fa-angle-down pull-right hidden-lg hidden-md"></i>
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
            <div class="accordion-inner">
              <ul>
                <li><a href="">非会员购物通道</a></li>
                <li><a href="">体贴的售后服务</a></li>
                <li><a href="">网站使用条款</a></li>
                <li><a href="">网站免责声明</a></li>
                <li><a href="">简单的购物流程</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
              支付/配送方式<i class="fa fa-angle-down pull-right hidden-lg hidden-md"></i>
            </a>
          </div>
          <div id="collapseThree" class="accordion-body collapse" style="height: 0px; ">
            <div class="accordion-inner">
              <ul>
                <li><a href="">支付方式</a></li>
                <li><a href="">配送方式</a></li>
                <li><a href="">订单何时出库</a></li>
                <li><a href="">网上支付小贴士</a></li>
                <li><a href="">关于送货和验货</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
              购物条款<i class="fa fa-angle-down pull-right hidden-lg hidden-md"></i>
            </a>
          </div>
          <div id="collapseFour" class="accordion-body collapse" style="height: 0px; ">
            <div class="accordion-inner">
              <ul>
                <li><a href="">会员注册协议</a></li>
                <li><a href="">隐私保护政策</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
              关注我们<i class="fa fa-angle-down pull-right hidden-lg hidden-md"></i>
            </a>
          </div>
          <div id="collapseFive" class="accordion-body collapse" style="height: 0px; ">
            <div class="accordion-inner">
              <ul>
                <li><a href="">新浪微博</a></li>
                <li><a href="">QQ空间</a></li>
                <li><a href="">官方微信</a></li>
                <li><a href="">最近浏览过的商品</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row footer-copyright">
        
          <h5 class="text-center">© 2001～2010 All rights reserved</h5>
          <p class="text-center hidden-sm hidden-xs">本商店顾客个人信息将不会被泄漏给其他任何机构和个人</p>
          <p class="text-center hidden-sm hidden-xs">本商店logo和图片都已经申请保护，不经授权不得使用 </p>
          <p class="text-center hidden-sm hidden-xs">有任何购物问题请联系我们在线客服 | 电话：0917-3333333  | 工作时间：周一至周五 8:00－18:00</p>
        
      </div>
    </div>
    </footer>
<!-- Modal-login start -->
    <div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" id="modal_box">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">账户登录</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="" id="LoginModal">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                                <input type="email" class="form-control" id="Modalusername" placeholder="用户名">
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom: 0">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key"></i></span>
                                <input type="password" class="form-control" id="Modalpassword" placeholder="密码">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn center-block" id="ModalLoginBtn">登 录</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal-login end -->
    <!-- 弹框 -->
    <script src="/layer/layer.js"></script>
    <script>
    $(document).ready(function(){
      //获取屏幕宽度 手机端等小于992px的隐藏折叠内容，电脑端展开
      var w = document.body.clientWidth;
      if(w<992){
        $(".accordion-body").collapse('hide');
      }else{
        $(".accordion-body").collapse('show');
        $(".accordion-heading>a").attr("data-toggle","");//去掉电脑端折叠效果
      }
      
      //模态框ajax登录
        $("#ModalLoginBtn").on("click",function(){
            var username = $("#Modalusername").val();
            var password = $("#Modalpassword").val();
            if(username==''){
                layer.alert("请输入用户名");
                return false;
            }
            if(password==''){
                layer.alert("请输入用户名");
                return false;
            }
            //登录
            $.ajax({
                url:"/Home/Login/modalLogin",
                type:"post",
                data:{'username':username,'password':password},
                dataType:"json",
                success:function(data){
                    if(data.status=='1'){
                        layer.alert(data.msg);
                        $("#ModalLogin").modal('hide');  //手动关闭模态框
                        window.location.reload();
                    }else if(data.status=='0'){
                        layer.alert(data.msg);
                        return false;
                    }
                },
                error:function(){},
            });
        });
    });
  </script>
  </body>