<div class="navfluid">
      <nav class="navbar navbar-fixed-top navbar-inverse mynavbar">
        <div class="container-fluid mybar">
          <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/Home/img/logo.png" alt="" class="img-responsive" style="width:46px;height: 46px;"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" id="navList">
                    
                    <volist name="parent" id="pvo">
                    <if condition="($pvo['parent_id'] eq 0) and ($pvo['has_child'] eq 1)">
                    <li class="dropdown">
                        <a href="/Home/Goods/lists/cate/<{$pvo.id}>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false"><{$pvo.cate_name}></a>
                        <ul class="dropdown-menu">
                          <div class="container">
                            <div class="col-lg-offset-2">
                                <volist name="child" id="cvo">
                                    <if condition="($cvo['parent_id'] eq $pvo['id']) and ($cvo['parent_id'] neq 0)">
                                    <li><a href="/Home/Goods/lists/cate/<{$cvo.id}>" class="<{$cvo.cate_pinyin}>_icon"><{$cvo.cate_name}></a></li>
                                    </if>
                                </volist>
                            </div>
                          </div>
                        </ul>
                    </li>
                    
                    </if>
                    </volist>
                </ul>
                <ul class="nav navbar-nav navbar-right cart-member">
                    
                    <if condition="$loginInfo eq null">
                    <div class="pull-right">
                        <a href="" class="mycart"><i class="fa fa-shopping-cart"></i>购物车</a>
                        <a href="/Home/Login/login" calss="login">登陆</a>
                        <a href="/Home/Login/register" calss="register">注册</a>
                    </div>
                    <else />
                    <div class="pull-right">
                        <a href="" class="mycart">
                            <i class="fa fa-shopping-cart"></i>购物车
                        </a>
                        <a href="" class="cart_num">1</a>
                        <a href="/Home/My/index" calss="login">您好，<{$loginInfo[1]}></a>
                        <a href="/Home/Login/logout" calss="login">退出</a>
                    </div>
                    </if>
                </ul>
            </div>
        </div>
        </div>
    </nav>
    </div>