<extend name="../Application/Admin/View/base.html" />

    <block name="title"><title>Zshop商城 门店管理-添加门店</title></block>
    <block name="style">
    <link href="/Admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/Admin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/Admin/css/owl.carousel.css" type="text/css">
    
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
    </style>

    </block>
    <block name="content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <!--breadcrumbs start -->
                    <ul class="breadcrumb">
                        <li><a href="/Admin/Index"><i class="icon-home"></i> 主面板</a></li>
                        <li><a href="/Admin/Shop/index">门店管理</a></li>
                        <li class="active">添加门店</li>
                    </ul>
                    <!--breadcrumbs end -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            添加门店<a href="/Admin/Shop/index" class="btn btn-success pull-right btn-sm">返回列表</a>
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal" role="form" method="post" action="/Admin/Shop/doAdd" id="addForm">
                                <div class="form-group">
                                    <label for="title" class="col-lg-2 col-sm-2 control-label text-center">门店名称</label>
                                    <div class="col-lg-6">
                                        <input type="text" name="sname" class="form-control" id="sname" value="" placeholder="门店名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title" class="col-lg-2 col-sm-2 control-label text-center">所在地区</label>
                                    <div class="content">
                                      <div>
                                        <div>
                                          <div>所在省： <select id="s_province" name="pname" onfocus="setSelect(this)"></select>
                                            所在市：<select disabled name="jname" id="s_city"></select>
                                            所在县区： <select disabled name="xname" id="s_county"></select>
                                            </div>
                                        </div>
                                      </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title" class="col-lg-2 col-sm-2 control-label text-center">门店地址</label>
                                    <div class="col-lg-6">
                                        <input type="text" name="address" class="form-control" id="address" value="" placeholder="门店地址">
                                        <input type="hidden" name="lon" class="form-control" id="lon" value="">
                                        <input type="hidden" name="lat" class="form-control" id="lat" value="">
                                    </div>
                                    <div class="col-lg-6">
                                        <div id="allmap" style="width: 500px;height: 500px;margin-left: 380px;margin-top: 30px"></div>
                                        <div></div>
                                    </div>


                                    
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-6">
                                        <button type="submit" name="submit" id="Submit" class="btn btn-danger">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=nSxiPohfziUaCuONe4ViUP2N"></script>
    <script type="text/javascript">
      var map = new BMap.Map("allmap");            
        map.centerAndZoom("重庆",12);       
        map.enableScrollWheelZoom();   //启用滚轮放大缩小，默认禁用
        map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用    
        //单击获取点击的经纬度
        map.addEventListener("click",function(e){
            $('#lon').val(e.point.lng);
            $('#lat').val(e.point.lat);
    });
  </script>
        </section>
          <script type="text/javascript" charset="utf-8" src="/Admin/js/jquery.js"> </script>
          <script type="text/javascript" charset="utf-8" src="/Admin/js/area.js"> </script>
          
         <script type="text/javascript">
            function getvalue(){
                var str = new Array();
                $("#productID option:selected").each(function () {
                    str.push($(this).val());
                })
               
               $('#moduleValue').val(str)
            }

            

            

        // $('.productID').bind('change',function(){
        //     alert(111)
        // })
        // $('.productID').onchange = function(){
        //     alert(111)
        //     alert($(this).val())
        // }
        // $('#getvalue').onclick = function(){
        //     alert(111)
        //     var str = '';
        //         $("#productID option:selected").each(function () {
        //             alert($(this).val())
        //             str += $(this).val() + ',';
        //         })
                
        //        str = str.substring(0,str.Length-1);
        //        $('#moduleValue').val(str)
        //    }
        $("#addForm").submit(function() { 
            if($('select[name=activity_id]').val() == 0){
                layer.alert('请选择活动', {
                    title: '错误信息',
                    icon: 2
                });
                return false;

            }   
            var name = $("#name").val(); 
            if (name != "") {
                return true;
            } else {
                layer.alert("请填写优惠券名称");
                return false;
            }

            var amount = $("#amount").val(); 
            if (amount != "") {
                return true;
            } else {
                layer.alert("请填写金额");
                return false;
            }

            var starttime = $("#use_from_time").val(); 
            if (starttime != "") {
                return true;
            } else {
                layer.alert("请填写开始时间");
                return false;
            }


            var endtime = $("#use_end_time").val(); 
            if (endtime != "") {
                return true;
            } else {
                layer.alert("请填写结束时间");
                return false;
            }

            var limit_num = $("#limit_num").val(); 
            if (limit_num != "") {
                return true;
            } else {
                layer.alert("请填写可用人数");
                return false;
            }

            // var group_img = $("#group_img").val(); 
            // if (group_img != "") {
            //     return true;
            // } else {
            //     layer.alert("请上传图片");
            //     return false;
            // }
        });
        $(function () {
            opt0 = ["省份", "地级市", "区、县级市"];//初始值
            _init_area();
            //修复地区三级联动BUG
           
        });  
         function setSelect(thisObj) {

          opt0 = ["省份", "地级市", "区、县级市"];//初始值
          _init_area();
          $("#s_city").removeAttr("disabled");
          $("#s_county").removeAttr("disabled");
        };  
    </script>

    </block>
   

